
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.getActiveStyle {
    margin: 1rem 10px;
    font-weight: 600;
    padding: 1rem;
    color:  #4e4e4e;
  }
  .span  {
    display: flex;
    margin-left: 152px;
    font-size: large;

}
.getActiveStyle2 {
    font-weight: 600;
    color: #4e4e4e;
}
.arrowStyle {
    color: 687a89;
    background-color: #e0f1f8;
    border-radius: 34px;
    margin-left: 30px;
}
.myStyle {
    height: 31px;
    margin-left: 30px;
    background-color: rgb(37, 95, 139);
    color: white;
    border-radius: 6px;
    padding: 6px;
    cursor: pointer;
    border: none;
    display: flex;
    align-items: center;

}

.save-links{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10rem;
    margin-top: 10px;
}